@charset "UTF-8";//____________________________$black
$header-height: 100px;
$main-color: #073061;
$main-size: 16px;

//____________________________
// フォントファミリー「 Noto_Sans_JP 」を登録
//____________________________
@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  src: url('../fonts/Noto_Sans_JP/NotoSansJP-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 600;
  src: url('../fonts/Noto_Sans_JP/NotoSansJP-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 500;
  src: url('../fonts/Noto_Sans_JP/NotoSansJP-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 400;
  src: url('../fonts/Noto_Sans_JP/NotoSansJP-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 300;
  src: url('../fonts/Noto_Sans_JP/NotoSansJP-Light.ttf') format('truetype');
}

$sans: 'Noto Sans JP', sans-serif;

//____________________________
// フォントファミリー「 Noto_Serif_JP 」を登録
//____________________________
@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 700;
  src: url('../fonts/Noto_Serif_JP/NotoSerifJP-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 600;
  src: url('../fonts/Noto_Serif_JP/NotoSerifJP-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 500;
  src: url('../fonts/Noto_Serif_JP/NotoSerifJP-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 400;
  src: url('../fonts/Noto_Serif_JP/NotoSerifJP-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-weight: 300;
  src: url('../fonts/Noto_Serif_JP/NotoSerifJP-Light.otf') format('opentype');
}
$serif: 'Noto Serif JP', serif;

//____________________________
// フォントファミリー「 Yeseva One 」を登録
//____________________________
@font-face {
  font-family: 'Yeseva One';
  font-weight: 400;
  src: url('../fonts/Yeseva_One/YesevaOne-Regular.ttf') format('truetype');
}

$yeseva: 'Yeseva One', cursive;
$times: 'Times New Roman';
